
body{
    background-color: rgb(234, 0, 255);
    
}



title{
    color: red;
    background-color: rgb(187, 255, 0);
}
#band-name{
    text-align: center;
    font-size: 46px;
    font-style: inherit;
    border-color: rgb(233, 227, 186);
    border: 3px 0px 3px 0px;
    border-style: ridge;
    background-color: rgb(213, 228, 85);

    
}
P{
    color: black;
    text-align: justify
    text-decoration: cyan;
    font-size: larger;
    width: auto;
    font-style: italic;
    
}
h1, h2{
    text-align: center;
    color: rgb(2, 0, 128);
    border: 3px 0px 3px 0px;
    border-style:ridge;
    background-color: rgb(85, 183, 228);


}
h3{text-align: center;
    color: blue;
}
body{
    isplay: flex;
    background-color: rgb(117, 117, 66);  
    flex-direction: column;
    align-items: center;
}

.image{
   
    display: block;
    position:relative;
justify-content: center;
align-items: center;
    width:50%; 
    height:40%   
}
ol ,ul {
    display: flex;
    flex-direction: column;
    align-items: justify;
    background-clip: content-box;
    padding: 10%;
    border: 3px double rgb(62, 64, 190);
    
}
#band-history{
    text-align: center;
    font-size: 46px;
    font-style: inherit;
    border-radius: 20%;
    border: 1px 0px 1px 0px;
    border-style: solid;
    border-color: rgb(207, 233, 186);
    background-color: rgb(243, 235, 230);
}



#band-members{
    
    text-align: center;
    font-size: 46px;
    font-style: inherit;
    border: 1px 0pxpx 1px 0px;
    border-style: solid;
    border-color: rgb(233, 227, 186);
    background-color: rgb(243, 235, 230);
}
#Current Band{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 50%;

}